<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Contact Us</title>
	<link rel="stylesheet" href="/css/contact.css">
</head>
<body>
	<header class="main-header">
		<nav class="main-header_nav">
			<ul class="main-header_item-list">
				<li class="main-header_item"><a href="/shop">Shop</a></li>
				<li class="main-header_item"><a href="/admin/add-product">Add Product</a></li>
				<li class="main-header_item"><a href="/contactus" class="active">Contact Us</a></li>
			</ul>
		</nav>
	</header>
	<main>
	<div class="main-container">
		<div class="container-title"><h1>Contact Form</h1></div><hr>
		<div class="form-container">
			<form action="/success" method="POST">
				<label for="name">Name:</label><br>
				<input type="text" name="name" ><br>
				<label for="email">Email:</label><br>
				<input type="email" name="email"><br>
				<button type="submit">Submit</button> 
			</form>
		</div>
	</div>
	</main>
</body>
</html>